<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog list</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<a th:href="@{/blog/create}">Create new Blog</a>
<h1>Blog</h1>
<form>
    Search:
    <input name="key_search" type="text"/>
    <input type="submit" value="Search" class="btnView"/>
</form>
<div class="modal-body" id="list">
<table border="1">
    <tr>
        <th>No</th>
        <th>Title</th>
        <th>Category</th>
        <th>Date</th>
        <th>Detail</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.id}"></td>
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.category.categoryName}"></td>
            <td th:text="${blog.date}"></td>
            <td><a th:href="@{/blog/detail/__${blog.id}__ }">Detail</a></td>
            <td><a th:href="@{/blog/edit/__${blog.id}__ }">Edit</a></td>
            <td><a th:href="@{/blog/delete/__${blog.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
</div>
    <a th:href="@{'list'(page=${blogs.number - 1})}" th:if="${blogs.hasPrevious()}">Previous</a>
    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
    <a th:href="@{'list'(page=${blogs.number + 1})}" th:if="${blogs.hasNext()}">Next</a>
</div>
<script type="text/javascript">
    $(document).ready(function () {
            $(".btnView").click(function () {
                let nameSearch = $('#search').val();
                $.ajax({
                        type: "GET",
                        url: "search=" + nameSearch,
                        dataType: "HTML",
                        success: function (data) {
                            $(".modal-body").html(data);

                        }
                    }
                )
            })
        }
    )

</script>
</body>
</html>