<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
<body>
<h1 style="text-align: center">Trang thêm mới</h1> <br>
<div>
    <span style="color: green" th:text="${mess}"></span>
</div>
<form th:action="@{/product/save}" method="post" th:object="${productDTO}" >
    <div class="input-group mb-3" style="width: 25%; margin-left: 25%" >
        <span class="input-group-text">Name</span>
        <input type="text" class="form-control" name="name" th:field ="*{name}" placeholder="nhập tên">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br>
    </div>
    <div class="input-group mb-3" style="width: 25%; margin-left: 25%">
        <span class="input-group-text">Price</span>
        <input type="text" class="form-control" name="price" th:field = "*{price}" placeholder="nhập gia">
        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span><br>
    </div>
    <select style="margin-left: 25%" th:field ="*{category}">
        <option th:each="ctg:${categoryList}" th:value="${ctg.id}" th:text="${ctg.name}"></option>
    </select>
    <button class="btn btn-outline-danger">Add</button>
</form>
</body>
</html>