# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\bai tap module 4\spring data\blog_update\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
