# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\6MVS4EX0YB - hai.truong@codegym.vn\codegym\ádasd\A0321I1_LeNga_Module4-main\bai_3_views_thymeleaf\bai_tap\products_manager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
