# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\6MVS4EX0YB - hai.truong@codegym.vn\codegym\ádasd\A0321I1_LeNga_Module4-main\bai_4_form_databinding\bai_tap\chuong_trinh_luu_giu_cau_hinh_hom_thu_dien_tu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
