# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\6MVS4EX0YB - hai.truong@codegym.vn\codegym\ádasd\A0321I1_LeNga_Module4-main\bai_5_thao_tac_voi_csdl_va_orm\thuc_hanh\customers_manager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
